
body {
  background: #111;
  color: #fff;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #031835;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 20px #00ffcc55;
  text-align: center;
  width: 350px;
}

h1 {
  margin-bottom: 20px;
  color: bisque;
}

select, input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 12px;
  background: #00ffcc;
  color: #000;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

#output {
  margin-top: 20px;
  font-size: 20px;
  color: #00ff88;
}
